* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: rgb(255, 237, 203);
}
h1,
h2 {
  width: fit-content;
  margin: 20px auto;
}
form {
  width: 600px;
  margin: 20px auto;
  border: 1px solid black;
  padding: 40px;
}
form .note {
  display: flex;
  justify-content: center;
}
form #note {
  width: 400px;
  background-color: rgb(245, 193, 98);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
  padding: 10px;
  letter-spacing: 1px;
}
form button {
  display: block;
  width: fit-content;
  margin: 20px auto 0px auto;
  background-color: rgb(84, 134, 226);
  padding: 10px;
  color: white;
  border-radius: 20px;
}
h3 {
  width: fit-content;
  margin: 20px auto;
}
ul {
  display: grid;
  grid-template-columns: 370px 370px;
  gap: 10px;
  width: 750px;
  margin: 0px auto;
  list-style-type: none;
}
li {
  border: 1px solid black;
  padding: 20px;
  height: 150px;
  position: relative;
}
li p {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 60px;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
li p::before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
li p::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: rgb(255, 237, 203);
}
.parentDiv {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(84, 134, 226);
}
.childDiv {
  overflow-wrap: break-word;
  position: relative;
  width: 50%;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 237, 203);
  z-index: 2;
  padding: 20px;
}
.childDiv button {
  display: block;
  width: fit-content;
  margin: 10px auto;
  background-color: rgb(84, 134, 226);
  padding: 10px;
  color: white;
  border-radius: 20px;
}
li button:nth-of-type(1) {
  background-color: rgb(84, 134, 226);
  padding: 10px;
  color: white;
  border-radius: 20px;
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
}
li button:nth-of-type(2) {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgb(84, 134, 226);
  color: white;
  width: 20px;
}
li h4 {
  color: rgb(84, 134, 226);
}
